/* Image style */

#scrollUp {
	right: 20px;
	/*background-image: url("../imgs/top.png");*/
	bottom: 5px;
	width: 38px;
	/* Width of image */
	height: 38px;
	/* Height of image */
}

#scrollUp:after {
	content: "回到顶部";
}
